/*--------------------------*/
/* --- Conteúdo de Base --- */
/*--------------------------*/
/*
Responsável por estilizar as tags HTML puras (ex: body, main, section) e definir o "esqueleto" visual da página.
*/

main { /* Estilos aplicados ao elemento principal "main" */
    padding-top: 3rem; /* Espaçamento interno no topo e na base para que o conteúdo não fique colado no cabeçalho e no rodapé */
    padding-bottom: 3rem;
}

section { 
    margin-bottom: 4rem; /* Espaçamento entre as seções para não ficarem coladas */
}
